<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Busca Empresa</title>

	<!-- Load fonts -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

	<!-- Load css styles -->
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />

</head>
<body>
	{% import 'macros.html' as macro_main %}
	{% import 'macrosmenu.html' as macro_menu %}
	{{macro_menu.topolistaempresa()}}


	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<form class="row">
				<div class="form-group col-md-6">
					<p><label> EMPRESA: ({{user.cnpj_empresa}})- {{user.nome_empresa}}</label></p>
					<label> 	Marca: {{user.marca}} Modelo: {{user.modelo}}</label>
					<label> Qnt. Pneus em Uso: {{user.pneususo}} </label>
					<label> Qnt. Pneus Cadastrados : {{user.pneus}} </label>
					<h2>Placa: {{user.placa}}</h2>
				</div>
				</form>
			</div>
		</div>
	<button class="btn-primary" onclick="cadastrapneu()">Cadastrar Pneu</button>

	<div id="table-wrapper">
	  <div id="table-scroll">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col" align = "left"></th>
						<th scope="col" align = "left">Cod. Fogo</th>
						<!-- <th scope="col" align = "left">Status</th> -->
						<th scope="col" align = "left">Posição</th>
						<th scope="col" align = "right">Status</th>
						<th scope="col" align = "right">Delete</th>
						<th scope="col"></th>
						<!-- <th scope="col">Email</th> -->
					</tr>
				</thead>
				<tbody>
					{% for use in veiculos %}
					<tr>
						<th scope="col" align = "left"></th>
						<td scope="col" align = "left"><a id ='pneu-veiculo' onclick="buscapneu({{use.cod}})" href="#">{{use.cod}}</a></td>
						<!-- <td scope="col" align = "left">{{use.status}}</td> -->
						<td scope="col" align = "left">{{use.pos_veic}}</td>
						<td scope="col" align = "left" valing="center"> Off <label class="switch"> <input type="checkbox" {{use.status}} onclick="alteraclickstatus({{use.cod}},'{{use.status}}')">
							 <span class="slider round"></span>	</label> On</td>
						<td scope="col" align = "left"><button class="btn-primary"onclick="">X</button></td>
						<td scope="row" align = "left"></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
	{{macro_main.rodape()}}
	{{macro_main.scripts()}}
</body>
</html>
