<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Busca Empresa</title>

	<!-- Load fonts -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

	<!-- Load css styles -->
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />

</head>
<body>
	{% import 'macros.html' as macro_main %}
	{% import 'macrosmenu.html' as macro_menu %}
	{{macro_menu.topolistaempresa()}}


	<div class="container">
		<h2>{{user.cod}}</h2>
		<div class="row">
			<div class="col-md-8">
				<form class="row">
				<div class="form-group col-md-6">
					<p><label> Placa Veiculo: {{user.placa}} -> {{user.veiculo}}</label></p>
					<label> 	Status do Pneu :{{user.status}}  Posição do Pneu: {{user.pos_veic}}</label>
				</div>
				</form>
				<form class="row">
				<div class="col-md-8">
					<button class="btn btn-lg btn-primary">Cadastrar Medição</button>
				</div>
				</form>
			</div>
		</div>
	</div>




	<div id="table-wrapper">
	  <div id="table-scroll">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col" align = "left">Cod. Fogo</th>
						<th scope="col" align = "left">medida</th>
						<th scope="col" align = "left">km</th>
						<th scope="col" align = "left">variacaomedida</th>
						<th scope="col" align = "left">variacaokm</th>
						<th scope="col" align = "left">media</th>
						<th scope="col" align = "left">faltakm</th>
						<th scope="col" align = "right">kmfinal</th>
						<th scope="col">DELETE</th>
					</tr>
				</thead>
				<tbody>
					{% for use in veiculos %}
					<tr>
						<td scope="col" align = "left"><a id ='pneu-veiculo' onclick="buscapneu({{use.cod}})" href="#">{{use.cod}}</a></td>
						<td scope="col" align = "left">{{use.medida}}</td>
						<td scope="col" align = "left">{{use.km}}</td>
						<td scope="col" align = "left">{{use.variacaomedida}}</td>
						<td scope="col" align = "left">{{use.variacaokm}}</td>
						<td scope="col" align = "left">{{use.media}}</td>
						<td scope="col" align = "left">{{use.faltakm}}</td>
						<td scope="col" align = "left">{{use.kmfinal}}</td>
						<td scope="col" align = "left"><button class="btn">X</button></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	{{macro_main.rodape()}}
	{{macro_main.scripts()}}
</body>
</html>
