<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Busca Empresa</title>

	<!-- Load fonts -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

	<!-- Load css styles -->
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />

</head>
<body>
	{% import 'macros.html' as macro_main %}
	{% import 'macrosmenu.html' as macro_menu %}
	{{macro_menu.topolistaempresa()}}


	<div class="container">
		<h2>{{user.nome}}</h2>
		<div class="row">
			<div class="col-md-8">
				<form class="row">
				<div class="form-group col-md-6">
					<label> CNPJ: {{user.cnpj}} ({{user.nveiculo}}) Veiculos</label>
				</div>
				</form>
			</div>
		</div>
	<button class="btn-primary" onclick="cadastraveiculo({{user.cnpj}} )">Cadastrar Carro</button>
	<div id="table-wrapper">
	  <div id="table-scroll">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col" align = "left">Placa</th>
						<th scope="col" align = "left">Marca</th>
						<th scope="col" align = "left">Modelo</th>
						<th scope="col" align = "left">Pneu em Uso</th>
						<th scope="col" align = "left">Editar</th>
						<th scope="col" align = "right">Delete</th>
						<!-- <th scope="col">Email</th> -->
					</tr>
				</thead>
				<tbody>
					{% for use in veiculos %}
					<tr>
						<td scope="col" align = "left"><a id ='placa-veiculo' onclick="buscaveiculo('{{use.placa}}')" href="#">{{use.placa}}</a></td>
						<td scope="col" align = "left">{{use.marca}}</td>
						<td scope="col" align = "left">{{use.modelo}}</td>
						<td scope="col" align = "left">{{use.pneuuso}}</td>
						<td scope="col" align = "left"><button class="btn-primary" onclick="editaveiculo('{{use.placa}}')">Editar</button></td>
						<td scope="col" align = "left"><button class="btn-primary" onclick="">X</button></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	</div>

	{{macro_main.rodape()}}
	{{macro_main.scripts()}}
</body>
</html>
