<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Moredno Html theme by GraphBerry.com</title>

	<!-- Load fonts -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

	<!-- Load css styles -->
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />

</head>
<body>
	{% import 'macros.html' as macro_main %}
	{% import 'macrosmenu.html' as macro_menu %}
	{{macro_menu.topolistaempresa()}}

	<div class="container">
		<h3>Cadastra Pneu</h3>
		<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod -->
			<!-- tempor incididunt ut labore et dolore magna aliqua. -->
		<!-- </p> -->
		<!-- <a href="#" class="btn btn-primary">Get in Touche</a> -->
		<form class="row">
			<p> <div class="form-group col-md-6">
				Cod: <input id="placa-cad" type="text" placeholder="{{user.cod}}" class="form-control" value="{{user.cod}}" />
			</div> </p>
			<p> <div class="form-group col-md-6">
				Placa do veiculo: <input id="cnpj-cad" type="text" placeholder="{{user.veiculo}}" class="form-control" value="{{user.veiculo}}" disabled/>
			</div> </p>
			<p> <div class="form-group col-md-6">
				Status:  Off <label class="switch"> <input type="checkbox" {{use.status}}> <span class="slider round"></span>	</label> 
			</div> </p>
			<p> <div class="form-group col-md-6">
				<!-- Pos: <input id="modelo-cad" type="text" placeholder="{{user.pos}}" class="form-control" value="{{user.pos}}"/> -->
				Posição do Pneu:
				<select  id="select-pos">
					{% for op in options %}
				  <option value="{{op.value}}">{{op.nome}}</option>
					{%endfor %}
				</select>

			</div> </p>
		</form>
		<p> <button id ='cadastrar-veiculo' onclick="clickcadastraveiculo()" class="btn-primary"> Cadastrar </button> </p>
	</div>


	{{macro_main.rodape()}}
	{{macro_main.scripts()}}

</body>
</html>
