<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Moredno Html theme by GraphBerry.com</title>

	<!-- Load fonts -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

	<!-- Load css styles -->
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />

</head>
<body>
	{% import 'macros.html' as macro_main %}
	{% import 'macrosmenu.html' as macro_menu %}
	{{macro_menu.topolistaempresa()}}

	<div class="container">
		<h3>Cadastra Empresa</h3>
		<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod -->
			<!-- tempor incididunt ut labore et dolore magna aliqua. -->
		<!-- </p> -->
		<!-- <a href="#" class="btn btn-primary">Get in Touche</a> -->
		<form class="row">
			<p> <div class="form-group col-md-6">
				CPF: <input id="cpf-cad" type="number" placeholder="{{user.cpf}}" class="form-control" value="{{user.cpf}}"/>
			</div> </p>

			<p> <div class="form-group col-md-6">
				Nome <input id="nome-cad" type=text placeholder="{{user.nome}}" class="form-control" value="{{user.nome}}"/>
			</div> </p>
			<input type="radio" id="r-func-cad" name="gender" value="1" {{user.checked1}}>
			<label for="male">Funcionário</label><br>
			<input type="radio" id="r-adm-cad" name="gender" value="0" {{user.checked2}}>
			<label for="female">ADM</label><br>


		</form>
		<p> <button id ='cadastrar' onclick="clickcadastrafunc()" class="btn-primary"> Cadastrar </button> </p>
	</div>


	{{macro_main.rodape()}}
	{{macro_main.scripts()}}

</body>
</html>
