<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Moredno Html theme by GraphBerry.com</title>

	<!-- Load fonts -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

	<!-- Load css styles -->
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />

</head>
<body>
	<div class="jumbotron home " id="home">
		<div class="jumbotron mask"><h1>MICRES</h1></div>
		<a href="#" class="logo">
			<img src="img/logo.png" alt="Moderno - Theme by GraphBerry.com">
		</a>

		<a href="" class="menu-toggle" id="nav-expander"><i class="fa fa-bars"></i></a>
		<!-- Offsite navigation -->
		<nav class="menu">
			<a href="#" class="close"><i class="fa fa-close"></i></a>
			<h3>Menu</h3>
			<ul class="nav">
				<!-- <li><a data-scroll href="#home">Home</a></li> -->
				<!-- <li><a data-scroll href="#services">Service</a></li> -->
				<!-- <li><a data-scroll href="#portfolio">Portfolio</a></li> -->
				<!-- <li><a data-scroll href="#contact">Contact</a></li> -->
				<li><a id ='cadastrarmanutencao' onclick="listaveiculo({{cnpj}})" href="#"> Lista Veiculo</a></li>
				<li><a id ='cadastrarmanutencao' onclick="cadastraempresa()" href="#"> Cadastra Veiculo</a></li>
				<li><a id ='cadastrarmanutencao' onclick="cadastraempresa()" href="#"> Cadastra Empresa</a></li>
				<li><a id ='cadastrarmanutencao' onclick="cadastramedicao({{cod}})" href="#"> Cadastra Funcionario</a></li>
				<li><a id ='cadastrarmanutencao' onclick="listaempresa()" href="#"> Listar Empresa</a></li>

			</ul>
			<!-- <ul class="social-icons"> -->
				<!-- <li><a href=""><i class="fa fa-facebook"></i></a></li> -->
				<!-- <li><a href=""><i class="fa fa-twitter"></i></a></li> -->
				<!-- <li><a href=""><i class="fa fa-dribbble"></i></a></li> -->
				<!-- <li><a href=""><i class="fa fa-behance"></i></a></li> -->
				<!-- <li><a href=""><i class="fa fa-pinterest"></i></a></li> -->
			<!-- </ul> -->
		</nav>
		<!-- <div class="header-info"> -->
			<!-- <h1></h1> -->
		<!-- </div> -->
		<!-- <div class="container"> -->
			<!-- <div class="header-info"> -->
				<!-- <h1>MICRES</h1> -->
				<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod -->
					<!-- tempor incididunt ut labore et dolore magna aliqua. -->
				<!-- </p> -->
				<!-- <a href="#" class="btn btn-primary">Get in Touche</a> -->
			<!-- </div> -->
		<!-- </div> -->
	<!-- </div> -->

	<div class="container">
		<h3>Cadastra Empresa</h3>
		<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod -->
			<!-- tempor incididunt ut labore et dolore magna aliqua. -->
		<!-- </p> -->
		<!-- <a href="#" class="btn btn-primary">Get in Touche</a> -->
		<form class="row">
			<p> <div class="form-group col-md-6">
				CNPJ: <input id="cnpj-cad" type="number" placeholder="CNPJ" class="form-control" />
			</div> </p>

			<p> <div class="form-group col-md-6">
				Nome Fantasia: <input id="nomeempresa-cad" type=text placeholder="For Post" class="form-control" />
			</div> </p>
		</form>
		<p> <button id ='cadastrar' onclick="clickcadastraempresa()" class="btn-primary"> Cadastrar </button> </p>
	</div>
	</div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<p>&copy; 2015 Template by <a href="http://graphberry.com" target="_blank">GraphBerry</a></p>
				</div>
				<div class="col-md-4">
					<ul class="social-icons">
						<li><a href=""><i class="fa fa-facebook"></i></a></li>
						<li><a href=""><i class="fa fa-twitter"></i></a></li>
						<li><a href=""><i class="fa fa-dribbble"></i></a></li>
						<li><a href=""><i class="fa fa-behance"></i></a></li>
						<li><a href=""><i class="fa fa-pinterest"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer end  -->

	<!-- Load jQuery -->
	<script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>

	<!-- Load Booststrap -->
	<script type="text/javascript" src="../js/bootstrap.js"></script>

	<script type="text/javascript" src="../js/smooth-scroll.js"></script>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

	<!-- Load custom js for theme -->
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/controlador.js"> </script>
</body>
</html>
