<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Moredno Html theme by GraphBerry.com</title>

	<!-- Load fonts -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

	<!-- Load css styles -->
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />

</head>
<body>
	{% import 'macros.html' as macro_main %}
	{% import 'macrosmenu.html' as macro_menu %}
	{{macro_menu.topolistaempresa()}}

	<div class="container">
		<button id ='cadastrar' onclick="" class="btn-primary"> Cadastrar Empresa</button>
		<h3>Lista de Empresas</h3>
		<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod -->
			<!-- tempor incididunt ut labore et dolore magna aliqua. -->
		<!-- </p> -->
		<!-- <a href="#" class="btn btn-primary">Get in Touche</a> -->
		</div>
		<div id="table-wrapper">
			<div id="table-scroll">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="row"></th>
						<th scope="col" valign = "center" >CNPJ</th>
						<th scope="col" valign = "center">Nome Fantasia </th>
						<th scope="col" valign = "center">N de Veiculos </th>
						<th scope="col" valign = "center">Editar </th>
						<th scope="col" valign = "center">Delete </th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for use in user %}
					<tr>
						<th scope="row"></th>
						<td scope="row" align = "left" ><a id ='cnpj-empresa' onclick="buscaempresa({{use.cnpj}})" href="#"> {{use.cnpj}}</a></td>
						<td scope="row" align = "left">{{use.nome}}</td>
						<td scope="row" align = "left">{{use.nveiculo}}</td>
						<td scope="row" align = "left" ><button id ='editarempresa' onclick="editaempresa({{use.cnpj}})" class="btn-primary"> Editar </button> </td>
						<td scope="row" align = "left" ><button id ='editarempresa' onclick="" class="btn-primary"> x </button> </td>
						<td scope="row" align = "left"></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	{{macro_main.rodape()}}
	{{macro_main.scripts()}}


</body>
</html>
