<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>

	<!-- Load fonts -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

	<!-- Load css styles -->
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />

</head>
<body>
	{% import 'macros.html' as macro_main %}
	{% import 'macrosmenu.html' as macro_menu %}
	{{macro_menu.topologin()}}


<div id="login" >
	<div>
		<label> Login: </label> <input id="user-login" type="text" placeholder="user" class="form-control" />
		<label> Senha: </label> <input id="senha-login" type="password" placeholder="user" class="form-control" />
		<p> <button id ='login' onclick="" class="btn-primary"> Cadastrar </button> </p>
	</div>
</div>

	{{macro_main.rodape()}}
	{{macro_main.scripts()}}
</body>
</html>
